@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* { /*Cambio universal*/
    padding : 0;
    margin : 0;    
}

body{
    height: 100vh; /*asociado a la meta name viewport en HTML head, que es la visualizacion de la pagina h=altura  100% de la altura*/
    box-sizing:boder-box; /*Para que los hijos no salgan de la caja del padre*/
    background-color:  #000000;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22D4FD;    
}

.presentacion {
    display: flex;
    align-items: center; /*stretch | flex-start (por defecto) | flex-end | center(centralizar) | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe; */
    margin: 10%;
    justify-content: space-between ;
    /*flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;*/
}

.presentacion__contenido {
    width: 615px;

}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__contenido__enlaces {
    display: flex;
    justify-content: space-between;
}

.presentacion__enlaces__link {
    width: 280px;
    background-color: #22D4FD;
    text-align: center;
    padding: 21.5px 0;  /* Vr del vertical, Vr del horizontal */
    border-radius: 16px;/* bordes botones */
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    box-shadow: 10px 10px 5px rgba(206, 213, 206, 0.815);
}

